<% provide(:title, 'about us') %>
<div class="center jumbotron">
	<h1>about us</h1>
	<p>three berkeley guys locked in a room for 24 hours. anything could happen.</p>
	<p>&nbsp&nbsp&nbsp&nbspDanny Hsu: <a href="http://github.com/dannyighsu">Github</a></p>
	<p>&nbsp&nbsp&nbsp&nbspSam Jiang: <a href="#">Github</a></p>
	<p>&nbsp&nbsp&nbsp&nbspMichael Liu: <a href="#">Github</a></p>
</div>
