<% provide(:title, 'About Us') %>
<div class="center hero-unit">
	<h1>About Us</h1>
	<p>Three Berkeley guys locked in a room for 24 hours. Anything could happen.</p>
	<p>&nbsp&nbsp&nbsp&nbspDaniel Hsu: <a href="http://github.com/dannyighsu">Github</a></p>
	<p>&nbsp&nbsp&nbsp&nbspSamuel Jiang: <a href="#">Github</a></p>
	<p>&nbsp&nbsp&nbsp&nbspMichael Liu: <a href="#">Github</a></p>
</div>

