<% provide(:title, 'help') %>

<div class="center hero-unit">
	<h1>help</h1>
	<p>sometimes you just have to run. for those occasions, fuel up on some daterade.</p>
	<p>type your address in our search bar, and we'll tell you where you and your significant other will be going this evening.</p>
	<p><%= link_to "get to it.", root_path %></p>
</div>
