<script type="text/javascript">
	function submit() {
		var input = document.getElementById("searchTextField").value;
		var queryString = updateQueryString("input", input, window.location.href + "match");
		window.location.href = queryString;
	}

	function initialize() {
		var input = document.getElementById('searchTextField');
		var autocomplete = new google.maps.places.Autocomplete(input);
	}

	google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class='center jumbotron'>
	<h1><%= image_tag('logo.png', height: "100", width: "100") %>
	daterade</h1>
	<h2>dates on the go.</h2>

	<div class="row">
		<div class="span6" text-align-center align="center">
			<input id="searchTextField" type="text" size="50">
			<button onclick=submit() class="btn btn-large btn-primary">plan my date!</button>
			<p id='what-is-this'><%= link_to "what is this?", help_path %></p>
		</div>
	</div>

</div>
