<div class="center hero-unit">
<head>
	<h1>Trender</h1>
	<h2>Enter Your Search</h2>
</head>
<body>
	<div class="row">
		<div class="span6" text-align-center align="center">
			<%= form_for("#") do |f| %>
				<%= f.label :address, "Enter Your Address" %>
				<%= f.text_field :address %>
				<%= f.submit "Plan my Date!", class: "btn btn-large btn-primary" %>
			<% end %>
		</div>
	</div>
	<div id="restaurant">
		
	</div>
</body>
</div>