<% provide(:title, 'your date') %>
<!DOCTYPE html>
<html>
<div id="container">
<head>
	<div id="match">
	<h1><font color="white">enjoy your date.</font></h1>
	<h3><font color=FF3333>may it quench your thirst.</font></h3>
	</div>
</head>
<body>
	<div class="center hero-unit">
	</div>
	<div class="center hero-unit">
	</div>
	<div class="center hero-unit">
	</div>
</body>
</div>
</html>