<% provide(:title, 'your date') %>
<!DOCTYPE html>
<html>
<head>
	<h1><font color="white">enjoy your date.</font></h1>
	<h2>may it quench your thirst.</h2>
</head>
<body>
	<div class="center hero-unit">
	</div>
	<div class="center hero-unit">
	</div>
	<div class="center hero-unit">
	</div>
</body>
</html>